# --- Python Virtual Environments ---
.venv/
venv/
ENV/
env/

# --- Python Cache and Compiled Files ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- System Files ---
Thumbs.db
db.properties
.DS_Store